[submodule "week_1"]
	path = week_1
	url = https://github.com/NAJIB-B/solana-starter.git
[submodule "anchor-vault"]
	path = anchor-vault
	url = https://github.com/NAJIB-B/anchor-vault
[submodule "anchor-escrow"]
	path = anchor-escrow
	url = https://github.com/NAJIB-B/anchor-escrow
