[submodule "week_1"]
	path = week_1
	url = https://github.com/NAJIB-B/solana-starter.git
[submodule "anchor-vault"]
	path = anchor-vault
	url = https://github.com/NAJIB-B/anchor-vault
[submodule "anchor-escrow"]
	path = anchor-escrow
	url = https://github.com/NAJIB-B/anchor-escrow
[submodule "anchor-spl-token-vault"]
	path = anchor-spl-token-vault
	url = https://github.com/NAJIB-B/anchor-spl-token-vault
[submodule "nft-marketplace"]
	path = nft-marketplace
	url = https://github.com/NAJIB-B/NFT-Marketplace
[submodule "anchor-amm"]
	path = anchor-amm
	url = https://github.com/NAJIB-B/anchor-amm
